.modal-content {
    

    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .video{
      width: 70%;
      height: 70%;
      object-fit: contain;

      position: absolute;
      top: 20%;
      left: 15%;
  }