.services-container{
    background: url("./img-8.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1{
        font-size: 10rem;
        color: white
    }
}