.services-container{
    background: url("https://media.cntraveler.com/photos/57211a96fe5fd76f60bc2764/16:9/w_1600,c_limit/deserts-Sahara-cr-GettyImages-74732427.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1{
        font-size: 10rem;
        color: white
    }
}